* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light and Dark Themes */
body.light-theme {
    background-color: #f8f8f8;
    color: #333;
}

body.dark-theme {
    background-color: #121212;
    color: #f1f1f1;
}

/* Theme Switcher Button */
.theme-switcher {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 100;
}

/* Header */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0077b6;
}

.site-header .logo img {
    max-width: 150px;
}

.site-nav ul {
    list-style-type: none;
}

.site-nav ul li {
    display: inline;
    margin: 0 15px;
}

.site-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: transform 0.5s, border-color 0.5s;
}

.site-nav ul li a:hover{
    color: aqua;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: url('') no-repeat center center/cover;
    color: white;
    text-align: center;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

.hero button {
    padding: 10px 20px;
    background-color: #fff;
    color: #0077b6;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.hero button:hover {
    background-color: #0077b6;
    color: #fff;
}

/* About Us Section */
.about-us {
    padding: 50px 20px;
    text-align: center;
}

.about-us .container {
    max-width: 1000px;
    margin: 0 auto;
}

.about-us img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Footer */
.site-footer {
    text-align: center;
    padding: 20px;
    background-color: #0077b6;
    color: white;
}

.img1{
    border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 30px;
    }

    .hero p {
        font-size: 18px;
    }

    .hero button {
        font-size: 14px;
    }
}

.new-projects{
    background-color: transparent;
    margin: 50px 50px 50px 50px;
}

.format{
    background-color: #0077b6;
    padding: 5px 5px 5px 5px;
    padding-right: 30px;
    border-radius: 3px;
    color: white;
    transform: transition 0.5s, border-color 0.5s;
}

.format:hover{
    transform: translate();
    background-color: aqua;
    border-color: black;
    color: black;
}